@color1: #1abc9c;
@color2: #cecece;
@color3: #e4e8e8;
@color4: #ffffff;
@color5: #297465;
@color6: #95a5a6;

@colorturquoise1: #1abc9c;
@colorturquoise2: #297465;

@colorred1: #e74c3c;
@colorred2: #9d3b31;

@colorpurple1: #9b59b6;
@colorpurple2: #6b3f7d;

@base-url: "img/turquoise";

@box-shadow: 0px 0px 0px 6px rgba(26,188,156,0.3);
// Turquoise 0px 0px 0px 6px rgba(26,188,156,0.3);
// Red: 0px 0px 0px 6px rgba(231,76,60,0.3);
// Purple: 0px 0px 0px 6px rgba(155,89,182,0.3);

@font1: 'Rokkitt', serif;
@font2: 'Quicksand', sans-serif;
@font3: 'Condensed';
@font4: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font5:  Arial, Helvetica, sans-serif;
@font-face {
    font-family: Condensed;
    src: url('font/MyriadProCondensed.ttf');
}
@font-face {
    font-family: 'Rokkitt';
    font-style: normal;
    font-weight: 400;
    src: local('Rokkitt Regular'), local('Rokkitt-Regular'), url(https://fonts.gstatic.com/s/rokkitt/v11/Uu8b3yBtxQPmPTMr0WQ_CA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v6/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@size-form1: 370px;
@size-form2: 770px;
@size-form3: 250px;
/* Fim Pre-Processador LESS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background-color: @color4;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
/* Fim Reset */

.div_version{
    width: 100%;
    height: 100px;
    background-color: #212121;
    .div_version_center{
        width: 442px;
        margin: 0 auto;
        .turquoise{
            background: @colorturquoise1;
            padding: 10px 20px 10px 20px;
            border: 4px solid @colorturquoise1;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
            -o-transition: 0.5s ease-in;
            transition: 0.5s ease-in;
            &:hover{
                background: @colorturquoise2;
                border: 4px solid @colorturquoise1;
            }
        }
        .red{
            margin: 0 38px 0 38px;
            background: @colorred1;
            padding: 10px 20px 10px 20px;
            border: 4px solid @colorred1;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
            -o-transition: 0.5s ease-in;
            transition: 0.5s ease-in;
            &:hover{
                background: @colorred2;
                border: 4px solid @colorred1;
            }
        }
        .purple{
            background: @colorpurple1;
            padding: 10px 20px 10px 20px;
            border: 4px solid @colorpurple1;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
            -o-transition: 0.5s ease-in;
            transition: 0.5s ease-in;
            &:hover{
                background: @colorpurple2;
                border: 4px solid @colorpurple1;
            }
        }
        a{
            color: @color4;
            font-size: 20px;
            line-height: 100px;
            letter-spacing: 4px;
            font-family: @font3;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
/* Fim Menu-Version */

.conteudo {
    width: 960px;
    margin: 0 auto;
  }
  .bgParallax {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    max-width: 1920px;
    position: relative;
    background-repeat: repeat;
    background-position: 50% 0;
    background-attachment: fixed;
  }
  header {
    height: 500px;
    background-color: #e5c6c1;
    background: url('@{base-url}/header-bg.jpg') fixed no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    nav{
        height: 30px;
        padding-top: 50px;
        .bt-logo{
            float: left;
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-left: 100px;
            a{
                color: @color4;
                font-size: 19px;
                font-family: @font3;                        
                text-decoration: none;      
            }
        }
        .menu{
            width: 310px;
            height: 30px;
            float: right;
            margin-right: 100px;
            li{
                list-style: none;
                ul{
                    float: left;
                    line-height: 30px;
                    margin-right: 30px;
                    a{
                        color: @color4;
                        font-size: 19px;
                        font-family: @font3;                        
                        text-decoration: none;    
                        &:hover{
                            color: @color1;
                        }    
                        &:active{
                            text-decoration: underline;
                        }               
                    }
                }
            }
        }
    }
    .header-int{
        height: 200px;
        text-align: center;
        margin: 120px auto;
        h1{
            color: @color4;
            font-size: 58px;
            font-family: @font1;
        }
        h2{
            color: @color4;
            font-size: 22px;
            font-family: @font2;
        }
        .div{
            height: 1px;
            width: 650px;
            margin: 10px auto;
            background-color: @color4;
        }
        #header-bt{
            margin: 185px auto;
            a{
                color: @color4;
                font-size: 24px;
                background: @color1;
                font-family: @font1;
                text-decoration: none;
                box-shadow: @box-shadow; 
                text-transform: uppercase;
                padding: 16px 40px 16px 40px;
            }
        }
    }
}
/* Fim Header */

.div_introduction{
    width: 100%;
    height: auto;
    padding: 50px 0 50px 0px;
    aside{
        .div_introduction_autor{
            width: 770px;
            margin: 0 auto;
            text-align: center;
            h1{ 
                color: @color1;
                font-size: 36px;
                font-weight: 900;
                line-height: 100px;
                font-family: @font3;
                letter-spacing: 1px;
            }
            h2{
                color: @color6;
                font-size: 18px;
                line-height: 30px;
                font-family: @font5;
            }
        }
    }
}
/* Fim Introduction */

.div_work{
    width: 100%;
    height: auto;
    padding: 50px 0 50px 0px;
    aside{
        .div_work_box{
            width: 250px;
            height: auto;
            text-align: justify;
            display: inline-block;
            .div_work_box_ico{
                width: 68px;
                height: 68px;
                margin: 0 auto;
            }
            .sketching{
                background: url('@{base-url}/work-ico1.jpg');
            }
            .design{
                background: url('@{base-url}/work-ico2.jpg');
            }
            .finalize{
                background: url('@{base-url}/work-ico3.jpg');
            }
            h1{
                color: @color1;
                font-size: 18px;
                font-weight: 600;
                line-height: 60px;
                text-align: center;
                font-family: @font4;
            }
            h2{
                color: @color6;
                font-size: 14px;
                line-height: 20px;
                font-family: @font5;
            }
        }
    }
}
/* Fim Work-Area */

main{
    width: 100%;
    height: auto;
    display: table;
    padding: 0 0 50px 0px;
    .div_article_left{
        width: 400px;
        float: left;
    }
    .div_article_right{
        width: 400px;
        float: right;
    }
    .right{
        float: right;
    }
    article {
        width: 400px;
        height: 300px;
        margin-top: 50px;
        position: relative;
        display: inline-block;
        &:hover .first-ficure{
            opacity: 1;
        }
        &:hover .second-ficure{
            opacity: 1;
        }
        &:hover .third-ficure{
            opacity: 1;
        }
        &:hover .fourth-ficure{
            opacity: 1;
        }
        .article-img{
            width: 400px;
            height: 300px;
            background-color: @color4;
        }
        .first-ficure{
            opacity: 0.5;
            background-image: url('@{base-url}/first-ficure.jpg');
        }
        .second-ficure{
            opacity: 0.5;
            background-image: url('@{base-url}/second-ficure.jpg');
        }
        .third-ficure{
            opacity: 0.5;
            background-image: url('@{base-url}/third-ficure.jpg');
        }
        .fourth-ficure{
            opacity: 0.5;
            background-image: url('@{base-url}/fourth-ficure.jpg');
        }
        .article-footer {
            left: 0;
            bottom: 0;
            opacity: 0;
            width: 380px;
            height: 70px;
            padding: 10px;
            color: @color4;
            position: absolute;
            background: @color1;

            a{
                color: @color4;
                font-size: 30px;
                line-height: 40px;
                font-family: @font1;
                text-decoration: none;
            }
            h2{
                color: @color5;
                font-size: 14px;
                font-family: @font5;
            }
        }
        &:hover .article-footer {
            opacity: 1;
            pointer-events: auto;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
        }
        /* Fim Article Footer */
        .article-search {
            top: 26px;
            opacity: 0;
            right: 26px;
            width: 40px;
            height: 40px;
            position: absolute;
            box-shadow: @box-shadow; 
            background: url('@{base-url}/article-search.jpg');
        }
        &:hover .article-search {
            opacity: 1;
            pointer-events: auto;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
        }
    }
}
.div_article_viewmore{
    width: auto;
    height: 42px;
    padding-top: 18px;
    text-align: center;
    a{
        width: 200px;
        color: @color4;
        font-size: 24px;
        font-family: @font1;
        text-decoration: none;
        text-transform: uppercase;
        padding: 16px 60px 16px 20px;
        background: @color1 url('@{base-url}/arrow.png') no-repeat 168px 18px;

        -webkit-transition: 0.5s ease-in;
        -moz-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
        transition: 0.5s ease-in;
        &:hover{
            background: @color5 url('@{base-url}/arrow.png') no-repeat 168px 18px;
        }
    }
}
/* Fim Article */

.div_form{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    padding: 50px 0 50px 0px;

    h1{
        color: @color1;
        font-size: 60px;
        text-align: center;
        font-family: @font1;
    }
    form{
        width: 770px;
        margin: 50px auto;
        input[name="name"] {
            color: @color6;
            font-size: 30px;
            font-family: @font1;
            outline: 0;
            float: left;
            width: @size-form1;
            box-sizing: border-box;
            background-color: @color3;
            padding: 12px 20px 12px 40px;
            border: 2px solid transparent;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
            -o-transition: 0.5s ease-in;
            transition: 0.5s ease-in;
        }
        input[name="name"]:focus {
            background-color: #dde1e1; 
            padding: 12px 20px 12px 20px;
        }
        input[name="email"] {
            color: @color6;
            font-size: 30px;
            font-family: @font1;
            outline: 0;
            float: right;
            width: @size-form1;
            box-sizing: border-box;
            background-color: @color3;
            padding: 12px 20px 12px 40px;
            border: 2px solid transparent;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
            -o-transition: 0.5s ease-in;
            transition: 0.5s ease-in;
        }
        input[name="email"]:focus {
            background-color: #dde1e1; 
            padding: 12px 20px 12px 20px;
        }
        input[name="mens"] {
            color: @color6;
            font-size: 30px;
            font-family: @font1;
            outline: 0;
            float: right;
            margin-top: 30px;
            width: @size-form2;
            height: @size-form3;
            box-sizing: border-box;
            background-color: @color3;
            padding: 12px 20px 12px 40px;
            border: 2px solid transparent;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
            -o-transition: 0.5s ease-in;
            transition: 0.5s ease-in;
        }
        input[name="mens"]:focus {
            background-color: #dde1e1; 
            padding: 12px 20px 12px 20px;
        }
        input[class="bt"] {
            box-sizing: border-box;
            border: 2px solid transparent;
            outline: 0;
            font-size: 24px;
            color: @color4;
            text-decoration: none;
            text-transform: uppercase;
            font-family: @font1;
            float: right;
            margin-top: 30px;
            width: 200px;
            padding: 16px 60px 16px 20px;
            background: @color1 url('@{base-url}/arrow.png') no-repeat 138px 18px;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
            -o-transition: 0.5s ease-in;
            transition: 0.5s ease-in;
        }
        input[type=submit]:hover {
            background: @color5 url('@{base-url}/arrow.png') no-repeat 138px 18px;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: @color6;
        }
        ::-moz-placeholder { /* Firefox 19+ */
        color: @color6;
        }
        :-ms-input-placeholder { /* IE 10+ */
        color: @color6;
        }
        :-moz-placeholder { /* Firefox 18- */
        color: @color6;
        }
    }
}
/* Fim Formulário */

footer{
    width: 100%;
    height: 240px;
    margin-top: 80px;
    background-color: @color1;
    .div_footer_center{
        width: 960px;
        height: 100%;
        margin: 0 auto;
        .div_footer_center_sociais{
            width: 770px;
            height: 100px;
            margin: 0 auto;
            .div_footer_center_sociais_area{
                width: 770px;
                height: 100px;
                display: flex;
                margin: -30px auto;
                position: absolute;
                justify-content: center;
                .dribbble{
                    width: 100%;
                    height: 100%;
                    background: url('@{base-url}/dribbble.png') no-repeat;
                }
                .twitter{
                    width: 100%;
                    height: 100%;
                    background: url('@{base-url}/twitter.png') no-repeat;
                }
                .facebook{
                    width: 100%;
                    height: 100%;
                    background: url('@{base-url}/facebook.png') no-repeat;
                }
                #dribbble{
                    width: 100px;
                    height: 100px;
                }
                #twitter{
                    width: 100px;
                    height: 100px;
                    margin: 0 235px 0 235px;
                }
                #facebook{
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .footer_autor{
            color: @color4;
            font-size: 30px;
            line-height: 100px;
            font-family: @font1;
            a{  
                color: @color4;
                text-decoration: none;
            }
        }
    }
}