@font-face {
  font-family: Condensed;
  src: url('/variety/font/MyriadProCondensed.ttf');
}
body {
  background-color: #ffffff;
}
.div_version {
  width: 100%;
  height: 100px;
  background-color: #212121;
}
.div_version .div_version_center {
  width: 442px;
  margin: 0 auto;
}
.div_version .div_version_center .turquoise {
  background: #1abc9c;
  padding: 10px 20px 10px 20px;
  border: 4px solid #1abc9c;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.div_version .div_version_center .turquoise:hover {
  background: #297465;
  border: 4px solid #1abc9c;
}
.div_version .div_version_center .red {
  margin: 0 38px 0 38px;
  background: #e74c3c;
  padding: 10px 20px 10px 20px;
  border: 4px solid #e74c3c;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.div_version .div_version_center .red:hover {
  background: #9d3b31;
  border: 4px solid #e74c3c;
}
.div_version .div_version_center .purple {
  background: #9b59b6;
  padding: 10px 20px 10px 20px;
  border: 4px solid #9b59b6;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.div_version .div_version_center .purple:hover {
  background: #6b3f7d;
  border: 4px solid #9b59b6;
}
.div_version .div_version_center a {
  color: #ffffff;
  font-size: 20px;
  line-height: 100px;
  letter-spacing: 4px;
  font-family: 'Condensed';
  text-decoration: none;
  text-transform: uppercase;
}
/* Fim Menu-Version */
.conteudo {
  width: 960px;
  margin: 0 auto;
}
.bgParallax {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1920px;
  position: relative;
  background-repeat: repeat;
  background-position: 50% 0;
  background-attachment: fixed;
}
header {
  height: 500px;
  background-color: #e5c6c1;
  background: url('/variety/img/red/header-bg.jpg') fixed no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header nav {
  height: 30px;
  padding-top: 50px;
}
header nav .bt-logo {
  float: left;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 100px;
}
header nav .bt-logo a {
  color: #ffffff;
  font-size: 19px;
  font-family: 'Condensed';
  text-decoration: none;
}
header nav .menu {
  width: 310px;
  height: 30px;
  float: right;
  margin-right: 100px;
}
header nav .menu li {
  list-style: none;
}
header nav .menu li ul {
  float: left;
  line-height: 30px;
  margin-right: 30px;
}
header nav .menu li ul a {
  color: #ffffff;
  font-size: 19px;
  font-family: 'Condensed';
  text-decoration: none;
}
header nav .menu li ul a:hover {
  color: #e74c3c;
}
header nav .menu li ul a:active {
  text-decoration: underline;
}
header .header-int {
  height: 200px;
  text-align: center;
  margin: 120px auto;
}
header .header-int h1 {
  color: #ffffff;
  font-size: 58px;
  font-family: 'Rokkitt', serif;
}
header .header-int h2 {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
}
header .header-int .div {
  height: 1px;
  width: 650px;
  margin: 10px auto;
  background-color: #ffffff;
}
header .header-int #header-bt {
  margin: 185px auto;
}
header .header-int #header-bt a {
  color: #ffffff;
  font-size: 24px;
  background: #e74c3c;
  font-family: 'Rokkitt', serif;
  text-decoration: none;
  box-shadow: 0px 0px 0px 6px rgba(231, 76, 60, 0.3);
  text-transform: uppercase;
  padding: 16px 40px 16px 40px;
}
/* Fim Header */
.div_introduction {
  width: 100%;
  height: auto;
  padding: 50px 0 50px 0px;
}
.div_introduction aside .div_introduction_autor {
  width: 770px;
  margin: 0 auto;
  text-align: center;
}
.div_introduction aside .div_introduction_autor h1 {
  color: #e74c3c;
  font-size: 36px;
  font-weight: 900;
  line-height: 100px;
  font-family: 'Condensed';
  letter-spacing: 1px;
}
.div_introduction aside .div_introduction_autor h2 {
  color: #95a5a6;
  font-size: 18px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
/* Fim Introduction */
.div_work {
  width: 100%;
  height: auto;
  padding: 50px 0 50px 0px;
}
.div_work aside .div_work_box {
  width: 250px;
  height: auto;
  text-align: justify;
  display: inline-block;
}
.div_work aside .div_work_box .div_work_box_ico {
  width: 68px;
  height: 68px;
  margin: 0 auto;
}
.div_work aside .div_work_box h1 {
  color: #e74c3c;
  font-size: 18px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.div_work aside .div_work_box h2 {
  color: #95a5a6;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
/* Fim Work-Area */
.div_article {
  width: 100%;
  height: auto;
  display: table;
  padding: 0 0 50px 0px;
}
.div_article .div_article_left {
  width: 400px;
  float: left;
}
.div_article .div_article_right {
  width: 400px;
  float: right;
}
.div_article .right {
  float: right;
}
.div_article article {
  width: 400px;
  height: 300px;
  margin-top: 50px;
  position: relative;
  display: inline-block;
  /* ------------------------- SEARCH ------------------------- */
}
.div_article article:hover .article-img img {
  opacity: 1;
}
.div_article article .article-img {
  width: 400px;
  height: 300px;
  background-color: #ffffff;
}
.div_article article .article-img img {
  opacity: 0.5;
}
.div_article article .article-ft {
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 380px;
  height: 70px;
  padding: 10px;
  color: #ffffff;
  position: absolute;
  background: #e74c3c;
}
.div_article article .article-ft a {
  color: #ffffff;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Rokkitt', serif;
  text-decoration: none;
}
.div_article article .article-ft h2 {
  color: #9d3b31;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.div_article article:hover .article-ft {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.div_article article .article-search {
  top: 26px;
  opacity: 0;
  right: 26px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-shadow: 0px 0px 0px 6px rgba(231, 76, 60, 0.3);
  background: url('/variety/img/red/article-search.jpg');
}
.div_article article:hover .article-search {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.div_article_viewmore {
  width: auto;
  height: 42px;
  padding-top: 18px;
  text-align: center;
}
.div_article_viewmore a {
  width: 200px;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Rokkitt', serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 60px 16px 20px;
  background: #e74c3c url('/variety/img/red/arrow.png') no-repeat 168px 18px;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.div_article_viewmore a:hover {
  background: #9d3b31 url('/variety/img/red/arrow.png') no-repeat 168px 18px;
}
/* Fim Article */
.div_form {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  padding: 50px 0 50px 0px;
}
.div_form h1 {
  color: #e74c3c;
  font-size: 60px;
  text-align: center;
  font-family: 'Rokkitt', serif;
}
.div_form form {
  width: 770px;
  margin: 50px auto;
}
.div_form form input[name="name"] {
  color: #95a5a6;
  font-size: 30px;
  font-family: 'Rokkitt', serif;
  outline: 0;
  float: left;
  width: 370px;
  box-sizing: border-box;
  background-color: #e4e8e8;
  padding: 12px 20px 12px 40px;
  border: 2px solid transparent;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.div_form form input[name="name"]:focus {
  background-color: #dde1e1;
  padding: 12px 20px 12px 20px;
}
.div_form form input[name="email"] {
  color: #95a5a6;
  font-size: 30px;
  font-family: 'Rokkitt', serif;
  outline: 0;
  float: right;
  width: 370px;
  box-sizing: border-box;
  background-color: #e4e8e8;
  padding: 12px 20px 12px 40px;
  border: 2px solid transparent;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.div_form form input[name="email"]:focus {
  background-color: #dde1e1;
  padding: 12px 20px 12px 20px;
}
.div_form form input[name="mens"] {
  color: #95a5a6;
  font-size: 30px;
  font-family: 'Rokkitt', serif;
  outline: 0;
  float: right;
  margin-top: 30px;
  width: 770px;
  height: 250px;
  box-sizing: border-box;
  background-color: #e4e8e8;
  padding: 12px 20px 12px 40px;
  border: 2px solid transparent;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.div_form form input[name="mens"]:focus {
  background-color: #dde1e1;
  padding: 12px 20px 12px 20px;
}
.div_form form input[class="bt"] {
  box-sizing: border-box;
  border: 2px solid transparent;
  outline: 0;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Rokkitt', serif;
  float: right;
  margin-top: 30px;
  width: 200px;
  padding: 16px 60px 16px 20px;
  background: #e74c3c url('/variety/img/red/arrow.png') no-repeat 138px 18px;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.div_form form input[type=submit]:hover {
  background: #9d3b31 url('/variety/img/red/arrow.png') no-repeat 138px 18px;
}
.div_form form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #95a5a6;
}
.div_form form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #95a5a6;
}
.div_form form :-ms-input-placeholder {
  /* IE 10+ */
  color: #95a5a6;
}
.div_form form :-moz-placeholder {
  /* Firefox 18- */
  color: #95a5a6;
}
/* Fim Formulário */
footer {
  width: 100%;
  height: 240px;
  margin-top: 80px;
  background-color: #e74c3c;
}
footer .div_footer_center {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}
footer .div_footer_center .div_footer_center_sociais {
  width: 770px;
  height: 100px;
  margin: 0 auto;
}
footer .div_footer_center .div_footer_center_sociais .div_footer_center_sociais_area {
  width: 770px;
  height: 100px;
  display: flex;
  margin: -30px auto;
  position: absolute;
  justify-content: center;
}
footer .div_footer_center .div_footer_center_sociais .div_footer_center_sociais_area #dribbble {
  width: 100px;
  height: 100px;
}
footer .div_footer_center .div_footer_center_sociais .div_footer_center_sociais_area #twitter {
  width: 100px;
  height: 100px;
  margin: 0 235px 0 235px;
}
footer .div_footer_center .div_footer_center_sociais .div_footer_center_sociais_area #facebook {
  width: 100px;
  height: 100px;
}
footer .div_footer_center .footer_autor {
  color: #ffffff;
  font-size: 30px;
  line-height: 100px;
  font-family: 'Rokkitt', serif;
}
footer .div_footer_center .footer_autor a {
  color: #ffffff;
  text-decoration: none;
}
