@font-face {
  font-family: Condensed;
  src: url('/variety/font/MyriadProCondensed.ttf');
}
body {
  background-color: #ffffff;
}
.conteudo {
  width: 960px;
  margin: 0 auto;
}
.bgParallax {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  min-height: 100%;
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
}
header {
  height: 500px;
  background-color: #e5c6c1;
  background: url(/variety/img/header-bg.jpg) fixed no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header nav {
  height: 30px;
  padding-top: 50px;
}
header nav .bt-logo {
  width: 100px;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: center;
  margin-left: 100px;
}
header nav .bt-logo a {
  color: #ffffff;
  font-family: 'Condensed';
  font-size: 19px;
  text-decoration: none;
}
header nav .menu {
  width: 310px;
  height: 30px;
  float: right;
  margin-right: 100px;
}
header nav .menu li {
  list-style: none;
}
header nav .menu li ul {
  float: left;
  margin-right: 30px;
  line-height: 30px;
}
header nav .menu li ul a {
  color: #ffffff;
  font-family: 'Condensed';
  font-size: 19px;
  text-decoration: none;
}
header nav .menu li ul a:hover {
  color: #1abc9c;
}
header nav .menu li ul a:active {
  text-decoration: underline;
}
header .header-int {
  text-align: center;
  height: 200px;
  margin: 120px auto;
}
header .header-int h1 {
  color: #ffffff;
  font-size: 58px;
  font-family: 'Rokkitt', serif;
}
header .header-int h2 {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
}
header .header-int .div {
  width: 650px;
  height: 1px;
  background-color: #ffffff;
  margin: 10px auto;
}
header .header-int #header-bt {
  margin: 185px auto;
}
header .header-int #header-bt a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background: #1abc9c;
  font-family: 'Rokkitt', serif;
  padding: 16px 40px 16px 40px;
  box-shadow: 0px 0px 0px 8px rgba(26, 188, 156, 0.3);
}
.div_introduction {
  width: 100%;
  height: auto;
  padding: 50px 0 50px 0px;
}
.div_introduction aside .autor {
  width: 770px;
  margin: 0 auto;
  text-align: center;
}
.div_introduction aside .autor h1 {
  color: #1abc9c;
  font-family: 'Condensed';
  font-size: 36px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 1px;
}
.div_introduction aside .autor h2 {
  color: #95a5a6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.div_work {
  width: 100%;
  height: auto;
  padding: 50px 0 50px 0px;
}
.div_work aside .work-box {
  width: 250px;
  height: auto;
  display: inline-block;
  text-align: justify;
}
.div_work aside .work-box .work-ico {
  width: 68px;
  height: 68px;
  margin: 0 auto;
}
.div_work aside .work-box h1 {
  color: #1abc9c;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}
.div_work aside .work-box h2 {
  color: #95a5a6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.div_article {
  width: 100%;
  height: auto;
  padding: 0 0 50px 0px;
  display: table;
}
.div_article .div_article_left {
  width: 400px;
  float: left;
}
.div_article .div_article_right {
  width: 400px;
  float: right;
}
.div_article .right {
  float: right;
}
.div_article .article {
  position: relative;
  width: 400px;
  height: 300px;
  margin-top: 50px;
  display: inline-block;
  /* ------------------------- SEARCH ------------------------- */
}
.div_article .article .article-img {
  width: 400px;
  height: 300px;
  background: url(/variety/img/figure-img.jpg);
}
.div_article .article .article-ft {
  background: #1abc9c;
  color: #fff;
  left: 0;
  bottom: 0;
  opacity: 0;
  padding: 10px;
  height: 70px;
  position: absolute;
  width: 380px;
}
.div_article .article .article-ft a {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Rokkitt', serif;
  text-decoration: none;
  line-height: 40px;
}
.div_article .article .article-ft h2 {
  color: #297465;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.div_article .article:hover .article-ft {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.div_article .article .article-search {
  background: url(/variety/img/article-search.jpg);
  right: 26px;
  top: 26px;
  opacity: 0;
  height: 40px;
  position: absolute;
  width: 40px;
  box-shadow: 0px 0px 0px 6px rgba(26, 188, 156, 0.3);
}
.div_article .article:hover .article-search {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.div_article_viewmore {
  width: auto;
  height: 42px;
  padding-top: 18px;
  text-align: center;
}
.div_article_viewmore a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Rokkitt', serif;
  width: 200px;
  padding: 16px 60px 16px 20px;
  background: #1abc9c url(/variety/img/arrow.png) no-repeat 168px 18px;
}
.div_form {
  width: 100%;
  height: 440px;
  padding: 50px 0 50px 0px;
  /* FormulÃ¡rio */
}
.div_form form {
  width: 770px;
  margin: 0 auto;
}
.div_form form input[name="name"] {
  color: #95a5a6;
  font-size: 30px;
  font-family: 'Rokkitt', serif;
  outline: 0;
  float: left;
  width: 370px;
  box-sizing: border-box;
  background-color: #e4e8e8;
  padding: 12px 20px 12px 40px;
  border: 2px solid transparent;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.div_form form input[name="name"]:focus {
  background-color: #dde1e1;
  padding: 12px 20px 12px 20px;
}
.div_form form input[name="email"] {
  color: #95a5a6;
  font-size: 30px;
  font-family: 'Rokkitt', serif;
  outline: 0;
  float: right;
  width: 370px;
  box-sizing: border-box;
  background-color: #e4e8e8;
  padding: 12px 20px 12px 40px;
  border: 2px solid transparent;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.div_form form input[name="email"]:focus {
  background-color: #dde1e1;
  padding: 12px 20px 12px 20px;
}
.div_form form input[name="mens"] {
  color: #95a5a6;
  font-size: 30px;
  font-family: 'Rokkitt', serif;
  outline: 0;
  float: right;
  margin-top: 30px;
  width: 770px;
  height: 250px;
  box-sizing: border-box;
  background-color: #e4e8e8;
  padding: 12px 20px 12px 40px;
  border: 2px solid transparent;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.div_form form input[name="mens"]:focus {
  background-color: #dde1e1;
  padding: 12px 20px 12px 20px;
}
.div_form form input[class="bt"] {
  box-sizing: border-box;
  border: 2px solid transparent;
  outline: 0;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Rokkitt', serif;
  float: right;
  margin-top: 30px;
  width: 200px;
  padding: 16px 60px 16px 20px;
  background: #1abc9c url(/variety/img/arrow.png) no-repeat 138px 18px;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.div_form form input[type=submit]:hover {
  background: #1abc9c url(/variety/img/arrow.png) no-repeat 148px 18px;
}
.div_form form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #95a5a6;
}
.div_form form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #95a5a6;
}
.div_form form :-ms-input-placeholder {
  /* IE 10+ */
  color: #95a5a6;
}
.div_form form :-moz-placeholder {
  /* Firefox 18- */
  color: #95a5a6;
}
footer {
  width: 100%;
  height: 240px;
  margin-top: 30px;
  background-color: #1abc9c;
}
footer .div_footer_center {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  background-color: #e4e8e8;
}
footer .div_footer_center .div_footer_center_sociais {
  width: 770px;
  height: 100px;
  margin: 0 auto;
}
footer .div_footer_center .div_footer_center_sociais .div_footer_center_sociais_area {
  width: 770px;
  height: 100px;
  margin: -30px auto;
  position: absolute;
  display: flex;
  justify-content: center;
}
footer .div_footer_center .div_footer_center_sociais .div_footer_center_sociais_area #dribbble {
  width: 100px;
  height: 100px;
}
footer .div_footer_center .div_footer_center_sociais .div_footer_center_sociais_area #twitter {
  width: 100px;
  height: 100px;
  margin: 0 235px 0 235px;
}
footer .div_footer_center .div_footer_center_sociais .div_footer_center_sociais_area #facebook {
  width: 100px;
  height: 100px;
}
